.dropdown {
    margin: 16px auto;
    padding: 16px;
    text-align: center;
}
select {
    margin: 50px;
    min-width: 150px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #CCC;
    height: 34px;
    background-color: #edf5e1;
  }